body{
  font-family: 'Lato', sans-serif;
  font-size:20px;
  line-height:2;
  padding:0;
  margin:0;
}

/* Global */
.container{
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

}

/* Header */
header{
  background-image: url('../img/asfalt-dark.png');
  color: #fff;
  background-color: #8ac1ff;

  min-height: 70px;
  border-bottom: #4d4d33 3px solid;
  border-top: #4d4d33 3px solid;
}

header img{
  opacity: 0.5;
}

header a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

header ul{
  margin-right: 40px;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 5px 0 5px;
}

#StevenHGrey1{
  padding-top: 30px;
  float: left;
  margin-bottom: 20px;
  margin-left: 40px;
}

header #StevenHGrey1 h1{
  text-shadow: 2px 2px 0px rgba(51, 51, 51, 0.7);
  margin: 0;
}
header nav{
  float: right;
  margin-top: 40px;
}

header .current a{
  color: #000;
  font-weight: bold;
}

header a{
  transition: all 0.3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
}

header a:hover{
  color: #ffffcc;
  font-weight: bolder;
  font-size: 110%;
}

/*Showcase*/

.showcase{
  min-height: 400px;
  background: url('../img/MusicStudio.jpg') no-repeat 0 -800px;
  width: 100%;
  text-align: center;
  color: #fff;
  -bottom: #8ac1ff 3px solid;
}

.showcase h1{
  margin-top: 100px;
  font-size: 60px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px rgba(51, 51, 51, 0.7);
}

.showcase p{
  font-size: 25px;
  text-shadow: 2px 2px 0px rgba(51, 51, 51, 0.7);
}

/*Top Tracks*/

#top_tracks{
  background: url('../img/bg1.jpg') 0;
  border-bottom: #4d4d33 3px solid;
  min-height: 400px;
}

#top_tracks .box{
  float: left;
  text-align: center;
  text-decoration: none;
  margin: 19px;
  transition: all 0.3s ease-in-out;
}
#top_tracks .box img{
   border-radius: 20px;
   border: 3px solid #8ac1ff;
   transition: all 0.3s ease-in-out;
}

#top_tracks .box img:hover{
  transform: scale(1.05);
}

#top_tracks.button{
  text-decoration: none;
  color: #2c2c2c;
}

#top_tracks a{
  text-decoration: none;
  color: #2c2c2c;
}

#top_tracks a:hover{
  transform: scale(1.05);
  color: #fff;
}

.ht{
  position: relative;
  bottom: 50px;
  background: rgba(255,255,255,0.8);
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;

}


.ht:hover{
  background-color: black;
  color: #ffffff;
  opacity: 1;
  transition: 0.3s;
}

.ht a:hover{
  color: inherit;
  opacity: 1;
  transition: 0.3s;
}

#top_tracks .box img{
  width: 400px;
}

/*Shop*/


/* Products */

#products{
  background-image: url('../img/Shop.jpg');
  border-bottom: #4d4d33 3px solid;
  min-height: 1000px;
}

#products .CDforsale{
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  float: left;

}

.CDforsale img{
  width: 350px;
  display: block;
  border-radius: 20px;
  border: 3px solid #8ac1ff;
  margin: 0 auto;
}

.CDforsale a{
  margin-right: 20px;
  margin-left: 20px;
  background-image: url('../img/wood-pattern.png');
  background-color: rgba(242, 144, 38, 0.8);
  border-radius: 10px;
  border: 1px solid #8ac1ff;
  color: #333333;
  font-weight: 450;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.2);
}

/* Cart Design*/



.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #1a1a1a;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #1a1a1a;
    margin-left: 5px;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 3px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 3 px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 30px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

/*Showcase1(About Me)*/

.showcase1{
  min-height: 600px;
  background: url('../img/AboutMe.jpg') no-repeat 0 -400px;
  width: 100%;
  text-align: center;
  color: #fff;
  border-bottom: #4d4d33 3px solid;
}

.showcase1 h1{
  margin-top: 65px;
  font-size: 50px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px rgba(51, 51, 51, 0.7);
}

.showcase1 p{
  font-size: 25px;
  text-shadow: 2px 2px 0px rgba(51, 51, 51, 0.7);
}

/*Spotify section(About me page)*/

#Spotify{
  min-height: 500px;
}
#Spotify img{
  margin-top: 10px
}

/*Bottom of the page*/

footer{
  font-style: italic;
  font-weight: lighter;
  font-family: sans-serif;
  padding: 20px;
  background-image: url('../img/asfalt-light.png');
  color: #fff;
  background-color: #8ac1ff;
  text-align: center;
}

footer h1{
  font-size: 20px;
}

footer a{
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  transition: .3s ease-in;
}

footer a:hover{
  color: #ffff99;
  font-weight: bolder;
  font-size: 21px;
  transition: 0.3s;
}
